# APP
ENVIRONMENT=development
ENVIRONMENT_MAINTENANCE=false
PORT=3432

DB_CONNECTION_STRING=mongodb+srv://furcare:vtFZNtTO6JnZ3ARi@furcare.wu66d9w.mongodb.net/

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SECRET_NAME=

# JWT
JWT_EXPIRY=1h
JWT_SECRET_KEY=50e1da37-fee1-4b95-9da6-37deaae6736b

# HEADERS
NODEX_ACCESS_KEY=v7pb6wylg4m0xf0kx5zzoved
NODEX_SECRET_KEY=glrvdwi46mq00fg1oqtdx3rg
NODEX_CRYPTO_KEY=

# APP
MAX_LIMIT_SMALL_CAGE=9
MAX_LIMIT_MEDIUM_CAGE=15
MAX_LIMIT_LARGE_CAGE=5

CLOUDINARY_NAME=druggveyb
CLOUDINARY_KEY=512739219541675
CLOUDINARY_SECRET=V5p-O8o7tlsbCisGApd9saYZDgI
CLOUDINARY_PROJECT_NAME=furcare
